#contenedor {
    position: relative;
    border-color: red;
    border-style: solid;
    width: 100%;
    height: 100vh;
}

#circulo {
    position: absolute;
    z-index: 3;
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    border-color: black;
    border-style: solid;
    top: 60px;
    left: 60px;
    animation: rainbow 5s infinite linear;
}

@keyframes rainbow {
  0% { background-color: red; }
  14% { background-color: orange; }
  28% { background-color: yellow; }
  42% { background-color: green; }
  57% { background-color: blue; }
  71% { background-color: indigo; }
  85% { background-color: violet; }
  100% { background-color: red; }
}

.llaves {
    position: absolute;
    z-index: 2;
}

.candados {
    position: absolute;
    z-index: 2;
    width: 150px;
    height: 150px;
}

.portales {
    position: absolute;
    z-index: 2;
    width: 150px;
    height: 150px;
}

.textos {
    position: absolute;
    z-index: 3;
    font-size: 20px;
    color: black;
    
}

#texto-candado {
    top: 240px;
    left: 10px;
    width: 170px;
    text-align: center;
}

#texto-portal {
    top: 240px;
    left: 395px;
    width: 170px;
    text-align: center;
}

.linea {
    position: absolute;
    background-color: red;
}

.botones {
    position: absolute;
    z-index: 2;
    width: 150px;
    height: 150px;
}

.bloqueos{
    position: absolute;
    z-index: 2;
    width: 150px;
    height: 200px;
}

#bloqueo-naranja {
    height: 160px;
    width: 20px;
}

#final {
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100vh;
    color: white;
    font-size: 50px;
    text-align: center;
    display: none;
    margin:0;
    padding:0;
    background-color: #0c002b;
    font-family: sans-serif;
}

a{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 30px 60px;
    color: #1670f0;
    text-transform:uppercase;
    text-decoration:none;
    letter-spacing: 5px;
    font-size:30px;
    box-shadow: 0 20px 50px rgba(0,0,0,.5);
    overflow:hidden;
    text-align: center;
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "ROND" 0;
  }
  
  a::before
  {
    content:"";
    position:absolute;
    top:2px;
    left:2px;
    bottom:2px;
    width:50%;
    background:rgba(255,255,255,0.05);
    
  }
  a span:nth-child(1)
  {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:2px;
    background:linear-gradient(to right, #0c002b ,#1779ff);
    animation: animate1 2s linear infinite;
    animation-delay:1s;
    
  }
  @keyframes animate1
  {
    0%
    {
      transform:translateX(-100%);
  }
    100%
    {
      transform:translateX(100%);
    }
  }
  a span:nth-child(2)
  {
    position:absolute;
    top:0;
    right:0;
    width:2px;
    height:100%;
    background:linear-gradient(to bottom, #0c002b ,#1779ff);
    animation: animate2 2s linear infinite;
    animation-delay:2s;
  }
  @keyframes animate2
  {
    0%
    {
      transform:translateY(-100%);
  }
    100%
    {
      transform:translateY(100%);
    }
  }
  a span:nth-child(3)
  {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:2px;
    background:linear-gradient(to left, #0c002b ,#1779ff);
    animation: animate3 2s linear infinite;
    animation-delay:1s;
    
  }
  @keyframes animate3
  {
    0%
    {
      transform:translateX(100%);
  }
    100%
    {
      transform:translateX(-100%);
    }
  }
  a span:nth-child(4)
  {
    position:absolute;
    top:0;
    left:0;
    width:2px;
    height:100%;
    background:linear-gradient(to top, #0c002b ,#1779ff);
     animation: animate4 2s linear infinite;
    animation-delay:2s;
    
  }
  @keyframes animate4
  {
    0%
    {
      transform:translateY(100%);
  }
    100%
    {
      transform:translateY(-100%);
    }
  }